Projeto_Tales/Connected Services/teste/WsTeste.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://teste.com/" targetNamespace="http://teste.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Soma" type="tns:Soma" />
  <xs:element name="SomaResponse" type="tns:SomaResponse" />
  <xs:complexType name="Soma">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:int" />
      <xs:element minOccurs="0" name="arg1" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SomaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>